            </section><!-- /#main-content -->
        </div><!-- /.row -->
    </section><!-- /.container-fluid -->

    <script src="/js/libs/require.js"></script>
    <script>
        requirejs.config({
            'baseUrl': 'js',
            'paths': {
                'jquery': 'libs/jquery',
                'tether': 'libs/tether',
                'bootstrap': 'libs/bootstrap'
            }
        });
    </script>
</body>
</html>
