{{> layout/site_top}}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2 class="page-header">Components <small>General</small></h2>
    </div>
    <div class="col-xs-12 col-sm-6 text-sm-right">
        breadcrumbs
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="card card-widget">
            <header class="card-header">Color Palette</header>
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Primary</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-primary-disabled"><span>Disabled</span></div>
                            <div class="bg-primary"><span>#073b4c</span></div>
                            <div class="bg-primary-active"><span>Active</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Info</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-info-disabled"><span>Disabled</span></div>
                            <div class="bg-info"><span>#118ab2</span></div>
                            <div class="bg-info-active"><span>Active</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Success</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-success-disabled"><span>Disabled</span></div>
                            <div class="bg-success"><span>#06d6a0</span></div>
                            <div class="bg-success-active"><span>Active</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Warning</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-warning-disabled"><span>Disabled</span></div>
                            <div class="bg-warning"><span>#ffd166</span></div>
                            <div class="bg-warning-active"><span>Active</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Danger</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-danger-disabled"><span>Disabled</span></div>
                            <div class="bg-danger"><span>#ef476f</span></div>
                            <div class="bg-danger-active"><span>Active</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="text-xs-center"><strong>Inverse</strong></div>
                        <div class="text-xs-center">
                            <div class="bg-inverse-disabled"><span>Disabled</span></div>
                            <div class="bg-inverse"><span>#373a3c</span></div>
                            <div class="bg-inverse-active"><span>Active</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> layout/site_bottom}}
